<% include ../partials/header %> 


<!-- May not need foundation icons -->
<!--<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">-->

    <!-- below is sidebar content -->
    <div class="row full">
      <div class="sidebar medium-12 large-3 columns">
        <div class="middle-header"> 
          <img class="me-pixelized slide-pop-d1" src="/mePixel.png" alt="">
          <h1 class="slide-pop">Ethans cool Blog</h1>
          <em id="oneLiner" class="one-liner slide-pop-d2" style="display: block"></em>
          <a href="/" id="abt" class="nav-button">Home</a>
          <a href="/about" id="abt" class="nav-button nav-lb">About</a>
          <a href="https://github.com/Ethanb75" class="nav-button nav-lb">Projects</a>
          <div class="space-2r"></div>
        </div> 
        <!-- end left sidebar content -->

      </div>
      <div id="faders" class="content medium-12 large-9 columns">
        <h4 class="divider-line"><span>Pinned Post</span></h4>
        <article class="post">
        <h2><%= posts[posts.length - 1].name %></h2>
          <a href="/posts/<%= posts[posts.length - 1]._id %>" class="th"><img alt="pinned post image" src="<%= posts[posts.length - 1].image %>"></a>
          <p class="subheader">
            By <a href="#"><%= posts[posts.length - 1].author.username %></a>
          </p>
          <p class="subheader"><em><%- posts[posts.length - 1].date.getMonth() + 1 %>/<%- posts[posts.length - 1].date.getDate() %>/<%- posts[posts.length - 1].date.getFullYear() %></em></p>
          <p><%- posts[posts.length - 1].body.substring(0,300) %> . . .</p>
          <a href="/posts/<%=posts[posts.length - 1]._id%>" class="button bounce-right-infinite">Read it &rarrlp;</a>
        </article>

        <h4 class="divider-line"><span>Recent Posts</span></h4>
        <% posts.forEach(function(post, index){ %>         
            <% if(posts.length === (index + 1)) { %>
                <article class="post">
                <h2><%= post.name %></h2>
                <a href="/posts/<%= post._id %>" class="th"><img alt="funny but true comic" src="<%= post.image %>"></a>
                <p class="subheader">
                  By <a href="#"><%= post.author.username %></a> 
                </p>
                <p class="subheader"><em><%- post.date.getMonth() + 1 %>/<%- post.date.getDate() %>/<%- post.date.getFullYear() %></em></p>
                <p><%- post.body.substring(0,300) %> . . .</p>
                <a href="/posts/<%= post._id %>" class="button bounce-right-infinite">Read it &rarrlp;</a>
            </article>
            <% } else { %>
            <article class="post">
                <h2><%= post.name %></h2>
                <a href="/posts/<%= post._id %>" class="th"><img alt="funny but true comic" src="<%= post.image %>"></a>
                <p class="subheader">
                  By <a href="#"><%= post.author.username %></a>
                </p>
                <p class="subheader"><em><%- post.date.getMonth() %>/<%- post.date.getDate() %>/<%- post.date.getFullYear() %></em></p>
                <p><%- post.body.substring(0,300) %> . . .</p>
                <a href="/posts/<%= post._id %>" class="button bounce-right-infinite">Read it &rarrlp;</a>
            </article>
            <hr class="article-break">
            <% } %>
        <% }) %>
        <footer class="footer">
            <p>
              <a href="/">Home</a> | <a href="/about">About</a> | <a href="https://github.com/Ethanb75">Projects</a>
              <span>Copywrite</span>
            </p>
        </footer>
        <!--<div id="Contact" class="content hidden">
          <h1>
            About
          </h1>
          <p>
            ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam incidunt magni quaerat assumenda voluptas repellat doloremque laboriosam voluptate odio esse voluptatem neque iste sit quibusdam aperiam doloribus, deleniti quidem soluta.
          </p>
        </div>--><!-- hidden contact page module -->
      </div>
    </div>

    <script type="text/javaScript" src="/scripts/app.js">

<% include ../partials/footer %>
